.home-container {
    background-color: #F3F0EB;
    width: 100%;
    height: 300vh;
}

.navbar-container {
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    
}

.navbar-logo {
    height: 55px;
}

.navbar-black-line {
    margin-left: 5rem; /* 'ml-20' */
    margin-top: 11px; /* 'mt-[11px]' */
    width: 91.5%; /* 'w-[91%]' */
    border-bottom: 2px solid black; /* 'border-b-2 border-[#F9F7F7]' */
    height: 4px; /* 'h-[4px]' */
    position: relative; /* 'relative' */
}

.navbar-links {
    display: flex;
    padding-top: 2vh;
}

.navbar-links-text {
    font-family: 'Montserrat';
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 3vw;
}

.hero-container {
    display: flex;
    height: 89vh;
}

.hero-text-container {
    width: 65%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15vh;
    padding-bottom: 5vh;

}



.hero-text-title {
    font-size: 1.5rem; 
    font-family: 'Montserrat';
    font-weight: 700; 
    color: #333;
}

.hero-text-inara-text {
    font-family: 'Montserrat';

    font-size: 13vh; 
    font-weight: 600; 
    color: #000000; 
}

.hero-text-description {
    font-family: 'Montserrat';

    font-size: 2.8vh; 
    font-weight: 500; 
    margin: 10px 0; 
    color: #1f2027; 
    margin-right: 10vw;
}
 
.hero-image-container {
    position: relative;
    height: 89vh;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-grid {
    height: 89vh;
    width: auto;
    position: relative;
    z-index: 1;
  }
  
  .hero-dog {
    height: 88vh;
    width: auto;
    position: absolute;
    z-index: 2; /* Make sure it's on top of the grid */
  }
  

.hero-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #EBCA67;
    color: #000000;
    padding: 2.5vh 3vh;
    font-size: 2.5vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    
  }
  
  .hero-button:hover {
    background-color: #e6c35d;
  }
  
  .hero-button-ghost {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    padding: 2.5vh 3vh;
    font-size: 2.5vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    border: 2px solid #000000; 
}

.hero-button-ghost:hover {
    background-color: #F3F0EB;
}
  

.description-container {
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 10vh;
    display: flex;
}

.description-image {
    border-radius: 10px;
    border-bottom-right-radius: 75px;
    height: 70vh;
}

.description-title {
    font-family: 'Montserrat';

    font-size: 2.5rem; 
    font-weight: 600; 
    margin: 20px 0; 
    color: #000000; 
}

.description-subtext {
    font-family: 'Montserrat';

    font-size: 1.2rem; 
    font-weight: 500; 
    margin: 20px 0;
    color: #1f2027;
}

.description-text-container {
    padding-left: 5rem;
    padding-top: 15vh;
}

.features-container {
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 10vh;
}

.features-title {
    font-family: 'Montserrat';

    font-size: 2.5rem; 
    font-weight: 600; 
    margin: 20px 0; 
    color: #000000; 
}

.features-logos-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.features-text {
    font-family: 'Montserrat';

    font-size: 1.5rem; 
    font-weight: 500; 
    margin: 20px 0; 
    color: #000000; 
}

.features-image {
    height: 10vh;
}

.features-div {
    border: 2px solid black;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 15vw;
    align-items: center;
    border-radius: 10px;
    background-color: #f3e4ca;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stacks the content vertically */
    margin-right: 3vw;
}

.features-description {
    font-family: 'Montserrat';
    font-size: 1rem; 
    font-weight: 500; 
    margin: 20px 0; 
    color: #000000; 
    width: 60%;
    text-align: center;
    display: flex; /* Enable flexbox */
    justify-content: space-between; /* Space elements within the container */
    align-items: center; /* Optional: To align elements vertically */
}

